/*.map-container {
	height: 400;
	width: 600;
	overflow: 'hidden';
	border-radius: '12px';
	background: '#f2f2f2';
	box-shadow: '0 4px 6px -1px rgb(0 0 0 / 0.1)';
	display: 'flex';
	align-items: 'center';
	justify-content: 'center';
}*/