@import "tailwindcss";
/* import "@radix-ui/themes/styles.css"; */


body,
html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #141313;
  color: #ffff;
  /* Evita que aparezca barra de scroll horizontal */
}